<div class="jumbotron text-center p-5">
    <h1 class="display-4 pt-5">Fitness Culture</h1>
    <p class="lead fs-2 pb-5">Keep Track of Your Max Weight Lifted</p>
    <hr class="my-4">
</div>
<div>
    <div class="input-group">
        <span class="input-group-text">Exercise:</span>
        <input type="text" aria-label="First name" class="form-control">
        <span class="input-group-text">Weight:</span>
        <input type="text" aria-label="Last name" class="form-control">
        <span class="input-group-text">lbs</span>
    </div>
</div>
<div>
    <button type="button" class="btn btn-outline-secondary" id="submitBtn">
        Submit
    </button>
</div>
<script> src ="/Fitness-Culture/public/js/maxWeight.js"></script>
<script src="https://kit.fontawesome.com/93c3eda7e5.js" crossorigin="anonymous"></script>
<script src="bootstrap.bundle.min.js" crossorigin="anonymous"></script>