<div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item" id="logout"><a href="/logout">Logout</a></li>
            <li class="breadcrumb-item" id="account"><a href="account">Profile</a></li>
          </ol>
        </nav>
      </div>
    </div>
<!-- jumbotron -->
<div class="container py-5 text-center">
        <h1 class="display-4 pt-5">Fitness Culture</h1>
        <p class="lead fs-2 pb-5">Dashboard</p>
        <p class="lead fs-2 pb-5 text-primary">Hello, {{name}}!</p>
        <hr class="my-4">
    </div>
    </div>
    <!-- Buttom Columns -->
    <div class="container text-center pt-5">
        <div class="row align-items-start pt-5">
            <div class="col">
                <button class="btn" id="nutritionBtn" data-bs-toggle="modal" data-bs-target="#reg-modal">
                    <i class="fa-brands fa-nutritionix fs-1"></i>
                    <p>Nutrition</p>
                </button>
            </div>
            <div class="col">
                <button class="btn" id="programBtn">
                    <i class="fa-solid fa-note-sticky fs-1"></i>
                    <p>Program</p>
                </button>
            </div>
            <div class="col">
                <button class="btn" id="measurementsBtn">
                    <i class="fa-solid fa-ruler-vertical fs-1"></i>
                    <p>Measurements</p>
                </button>
            </div>
        </div>
        <div class="row align-items-center pt-5">
            <div class="col">
                <button class="btn" id="mealPrepBtn">
                    <i class="fa-solid fa-bowl-food fs-1"></i>
                    <p>Meal Prep</p>
                </button>
            </div>
            <div class="col">
                <button class="btn" id="maxBtn">
                    <i class="fa-solid fa-weight-hanging fs-1"></i>
                    <p>Max</p>
                </button>
            </div>
            <div class="col">
                <button class="btn" id="accountBtn">
                    <i class="fa-solid fa-user fs-1"></i>
                    <p>Account</p>
                </button>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="reg-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>

    <script src="https://kit.fontawesome.com/93c3eda7e5.js" crossorigin="anonymous"></script>
    <script src="./js/dashboard.js"></script>

