<div class="jumbotron text-center p-5">
    <h1 class="display-4 pt-5">Fitness Culture</h1>
    <p class="lead fs-2 pb-5">Use These Exercises</p>
    <hr class="my-4">
</div>
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 18rem;">  
                <div class="card-body">
                    <h5 class="card-title">DeadLift</h5>
                    <p class="card-text">4 Sets of 10 Repetitions</p>
                    <p class="card-text">Weight: 50lbs</p>
                    <a href="https://www.youtube.com/shorts/vfKwjT5-86k" class="btn btn-outline-secondary">Exercise Example Video</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Squat</h5>
                    <p class="card-text">3-4 Sets of 8-12 Repetitions</p>
                    <p class="card-text">Weight: 50lbs</p>
                    <a href="https://www.youtube.com/shorts/gslEzVggur8" class="btn btn-outline-secondary">Exercise Example Video</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bench Press</h5>
                    <p class="card-text">4 Sets of 10-12 Repetitions</p>
                    <p class="card-text">Weight: 75lbs</p>
                    <a href="https://www.youtube.com/shorts/i-gLOirnPaU" class="btn btn-outline-secondary">Exercise Example Video</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pull Ups</h5>
                    <p class="card-text">3 Sets of 5-10 Repetitions</p>
                    <p class="card-text">Body Weight</p>
                    <a href="https://www.youtube.com/shorts/dvG8B2OjfWk" class="btn btn-outline-secondary">Exercise Example Video</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bicep Curls</h5>
                    <p class="card-text">4 Sets of 10-15 Repetitions.</p>
                    <p class="card-text">Weight: 25lbs</p>
                    <a href="https://www.youtube.com/shorts/803JIAWBj_c" class="btn btn-outline-secondary">Exercise Example Video</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tricep Push Down</h5>
                    <p class="card-text">4 Sets of 10-15 Repetitions</p>
                    <p class="card-text">Weight: 25lbs</p>
                    <a href="https://www.youtube.com/shorts/QsoN4u6j8nM" class="btn btn-outline-secondary">Exercise Example Video</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
    </div>
</div>