 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Culture</title>
  <link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
 integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
 crossorigin="anonymous">
</head>

<body>
<div class="container-fluid bg-log-in">
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-md-4 col-sm-4 col-xs-12">

    <form class = "signup-form">
      <h1 class = "login-text">Sign Up</h1>
  <div class="form-group">
    <label for="name-signup">User Name</label>
    <input type="text" class="form-control" id="name-signup">
  </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
        <button class="btn btn-primary btn-block" type="submit">Signup</button>
    </form>
  </div>
</div> 
<div class ="col-md-4 col-sm-4 col-xs-12">
<script src="./js/login.js"></script>
</body>
</html>